@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.wrap {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background: #2ecc71;
  z-index: 1;
}
header a {
  color: #fff;
}
header > div:first-child {
  padding: 10px 0;
  border-bottom: 1px solid #39d67c;
  height: 40px;
  box-sizing: border-box;
}
header > div:first-child ul {
  display: flex;
  justify-content: space-around;
}
header > div:nth-child(2) {
  width: 100%;
  padding: 30px 10px;
  text-align: center;
  position: relative;
  box-sizing: border-box;
}
header > div:nth-child(2) a {
  font-weight: 700;
  background: #2ecc71;
}
header > div:nth-child(2)::after {
  content: url(../images/s_images/menu_toggle_btn.png);
  display: block;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
header > div:nth-child(3) {
  background: #2c3e50;
}
header > div:nth-child(3) ul li {
  padding: 20px 0 20px 15px;
  box-sizing: border-box;
  position: relative;
}
header > div:nth-child(3) ul li::after {
  content: url(../images/s_images/sub_menu_toggle_btn.png);
  display: block;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
section {
  width: 100%;
  background: #fff;
  padding-bottom: 20px;
}
section img {
  width: 100%;
}
section > div:first-child {
  width: 100%;
  padding: 48px 0;
  text-align: center;
  background: #219af7;
}
section > div:first-child h2 {
  font-size: 21px;
  margin-bottom: 12px;
  color: #fff;
}
section > div:first-child ul {
  display: flex;
  justify-content: center;
}
section > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}
section > ul > li:not(:first-child) {
  margin-top: 20px;
}
section > ul > li {
  filter: grayscale(1);
  border-radius: 5px;
  transition: filter 0.4s;
  overflow: hidden;
  width: 100%;
}
section > ul > li:hover {
  filter: grayscale(0);
}
section > div:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
  margin: 0 20px 40px;
  position: relative;
  font-size: 13px;
}
section > div:nth-of-type(2) input {
  border: 1px solid #e65d5d;
  width: 120px;
  height: 30px;
  padding-left: 10px;
  box-sizing: border-box;
}
section > div:nth-of-type(2) > div {
  position: absolute;
  left: 130px;
}
section > div:nth-of-type(2) > div p {
  background: #e65d5d;
  width: 80px;
  height: 30px;
  color: #fff;
  line-height: 30px;
  text-align: center;
}
section > div:nth-of-type(2) > div > ul > li {
  cursor: pointer;
}
section > div:nth-of-type(2) > div > ul > li:first-child {
  margin-bottom: 5px;
}
section > div:nth-of-type(2) > div > ul:hover > li ~ li {
  display: block;
}
section > div:nth-of-type(2) > div > ul > li:not(:first-child) {
  line-height: 24px;
  color: #fff;
  padding-left: 10px;
  background: #e65d5d;
  display: none;
}
section > div:nth-of-type(2) a:last-child {
  background: #e65d5d;
  width: 70px;
  height: 30px;
  color: #fff;
  line-height: 30px;
  text-align: center;
}
section > div:nth-of-type(3) {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
section > div:nth-of-type(3) ul {
  width: 200px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
section > div:nth-of-type(3) ul::before {
  content: url(../images/s_images/list_prev_btn.png);
  width: 28px;
  height: 28px;
  background: #2ecc71;
  line-height: 28px;
  cursor: pointer;
}
section > div:nth-of-type(3) ul::after {
  content: url(../images/s_images/list_next_btn.png);
  width: 28px;
  height: 28px;
  background: #2ecc71;
  line-height: 28px;
  cursor: pointer;
}
section > div:nth-of-type(3) a:hover {
  background: #219af7;
  color: #fff;
  transition: all 0.5s;
}
section > div:nth-of-type(3) a {
  display: block;
  width: 28px;
  height: 28px;
  border: 1px solid #216af7;
  color: #216af7;
  line-height: 28px;
  text-align: center;
  box-sizing: border-box;
}
footer {
  width: 100%;
  background: #474747;
  text-align: center;
  box-sizing: border-box;
}
footer p {
  padding: 20px 0;
  color: #fff;
  font-size: 13px;
}
@media screen and (min-width: 767px) {
  header > div:nth-child(2) {
    width: 100%;
    height: 80px;
  }
  header > div:nth-child(2) a {
    padding: 50px 0px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
  }
  header > div:nth-child(3) {
    width: 35%;
    top: 100px;
    position: absolute;
    right: 0;
  }
  section {
    padding-bottom: 40px;
  }
  section > ul {
    padding: 40px;
  }
  section > ul > li {
    width: 48%;
  }
  section > ul > li {
    margin-top: 10px;
  }
  section > div:nth-of-type(2) {
    margin: 0 40px;
  }
  section > ul > li:first-child,
  section > ul > li:nth-child(2) {
    margin-top: 0px;
  }
  section > div:nth-of-type(2) > div > p {
    display: block;
  }
  footer p {
    padding: 40px 0;
  }
}
@media screen and (min-width: 960px) {
  .wrap {
    width: 90%;
  }
  header {
    flex-direction: row;
  }
  header > div {
    flex-grow: 1;
  }
  header > div:nth-child(1) {
    order: 2;
    width: 15%;
    padding: 0;
    border: none;
  }
  header > div:nth-child(1) ul li {
    line-height: 80px;
  }
  header > div:nth-child(2) {
    order: 0;
    padding: 0;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header > div:nth-child(2) a {
    left: 0;
    top: 0;
    position: absolute;
  }
  header > div:nth-child(2)::after {
    display: none;
  }
  header > div:nth-child(3) {
    width: 70%;
    order: 1;
    position: static;
    padding-left: 20px;
    background: none;
  }
  header > div:nth-child(3) ul {
    display: flex;
  }
  header > div:nth-child(3) ul li {
    padding: 0 0 0 20px;
  }
  header > div:nth-child(3) ul li:after {
    display: none;
  }
  header > div:nth-child(3) ul li a {
    line-height: 80px;
  }
  section > ul > li {
    width: 24%;
  }
  section > ul > li:first-child,
  section > ul > li:nth-child(2),
  section > ul > li:nth-child(3),
  section > ul > li:nth-child(4) {
    margin-top: 0px;
  }
  footer {
    text-align: start;
    padding-left: 20px;
  }
}
